---
layout: default
description: Template for team page
---

{{ content }}

{% assign faculty = site.data.faculty | sort: "name" %}
{% for member in faculty %}
  <div class="media team-member">
    <img class="mr-3" src="{{ member.image | relative_url }}">
    <div class="media-body">
      <h5 id="{{ member.name | strip | url_encode }}">
        <a href="{{ member.profile }}"> {{ member.name }} </a>
        {% if member.role %}
        <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>

      {{ member.description | markdownify }}

      <ul class="list-inline">

        {% if member.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if member.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}

<!-- Add the list of the students -->
{% assign students = site.data.students | sort: "name" | reverse %}
{% for member in students %}

  <div class="media team-member">
    <img class="mr-3" src="{{ member.image | relative_url }}">
    <div class="media-body">
      <h5 id="{{ member.name | strip | url_encode }}">
        <a href="{{ member.profile }}"> {{ member.name }} </a>

        <!-- Add the degree and year -->
        <small class="text-muted">| {{ member.degree }} ({{ member.year }}) </small>
      </h5>

      <h7 class="text-muted">Research Area:</h7> {{ member.topic | markdownify }}

      <ul class="list-inline">

        {% if member.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if member.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}


